body { 
    background-color: cadetblue;
}

#place {
    border: 10px red;
    background-color: white;
    height: 500px;
    width: 500px;
}

#magnifier {
    border: 5px ridge black;
    width: 90;
    height: 90;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    position: fixed;
}

h1 {
    display: inline
}

.colorbox {
    display: inline-block;
    background-color: black;
    border: 5px ridge gold;
    width: 50px;
    height: 50px;
}


.col-left {
    float: left;
    max-width: 500px;
}
.col-right {
    float: right
}
input[type="text"], input[type="radio"]{
    display:block;
    width: inherit;
}
#controls {
    padding: 2em 0em 2em 0em;
}
#login {
    background-color: aqua;
    width: 200px;
    padding: 4em;
    word-wrap: normal;
}
#manualinput {
    background-color: coral;
    width: 200px;
    padding: 4em;
    word-wrap: normal;
}
.inrow {
    display: inline;
}
