body { 
    background-color: cadetblue;
}

#place {
    border: 10px red;
    background-color: white;
    height: 500px;
    width: 500px;
}

h1 {
    display: inline
}

.colorbox {
    display: inline-block;
    background-color: black;
    border: 5px ridge gold;
    width: 50px;
    height: 50px;
}

.col-left {
    float: left
}
.col-right {
    float: right
}
input{
    display:block;
    width: inherit;
}
#login {
    background-color: aqua;
    width: 200px;
    padding: 4em;
    word-wrap: normal;
}
#color1 {
    background-color: red;
}
#color2 {
    background-color: orange;
}
#color3 {
    background-color: yellow;
}
#color4 {
    background-color: green;
}
#color5 {
    background-color: blue;
}
#color6 {
    background-color: violet;
}
#color7 {
    background-color: black;
}
#color8 {
    background-color: white;
}
