@font-face {
    font-family: "Chomsky";
    src: url("../fonts/Chomsky.woff2");
}

body {
    background-color: cadetblue;
    background-image: url('https://www.lexaloffle.com/media/43589/2_dvdscreensaver_0.gif');
    background-size: 100% auto;
    display: flex;
    flex-wrap: wrap;
    font-family: cursive;
}

.badge {
    text-decoration: none;
}
.badge > img {
    box-shadow: 0px 0px 10px green;
}

.main {
    flex: 2;
}
.noselect {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.zooms {
    /* width: max-content; */ 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 10px 0px 10px;
    border: 10px inset pink;
    margin-bottom: 10px;
    background-image: url("../images/tileable.png");
    background-repeat: repeat;
    color: black;
    text-shadow: 2px 2px 8px aliceblue;
}

.zooms > * {
    margin: 10px 20px 10px 20px

    
}

#dragpixel {
    position: absolute;
    transform: translate(-50%, -50%);

}

footer {
    position:fixed;
    display: flex;
    align-items: center;
    bottom: 5px;
    padding: 5px;
}

.wrap {
    padding: 5px;
    margin: 10px;
    background-image: url("../images/pincheckers.png");
    background-color: lightgray;
    border: 4px double darkgray;
    display: flex;
    flex: 1;
    flex-basis: 200px;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: min-content;
    max-width: fit-content;
}

.block {
    background-image: none;
    background-color: azure;
    border: 5px double green;
    margin: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

#placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#place {
    touch-action: none;
    border: 5px ridge gold;
    background-color: white;
    height: 500px;
    width: 500px;

}

#heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: beige;
}


#magnifier {
    border: 5px ridge black;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    position: fixed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

h1 {
    display: inline-block;
    font-family: 'Chomsky';
    font-weight: lighter;
    font-size: 4em;
    text-align: center;
}

.colorbox {
    display: inline-block;
    background-color: black;
    border: 5px ridge gold;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 5px;
    touch-action: none;
}

#pixelhistory {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
li.pixelrecord {
    height: 50px;
    margin: 0px;
    max-width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

span.highlighted {
    background-color: lightgray;
    color: black;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

[note]:hover::after {
    display: block;
    position: absolute;
    content: attr(note);
    border: 2px outset black;
    background: lightgray;
    padding: .25em;
  }

input[type="text"],
input[type="radio"] {
    display: block;
    width: inherit;
}

#colorpreview {
    max-width: 50px;
    height: 100px;
    margin: 10px;
    border-radius: 100% 100% 0% 0%;
}
#controls {
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
    padding: 10px;
}

#login {
    background-color: aqua;
    width: 200px;
    padding: 4em;
    word-wrap: normal;
}

#manualinput {
    background-color: coral;
    width: 200px;
    padding: 4em;
    word-wrap: normal;
}

.inrow {
    display: inline;
}